log
build
install
examples
.venv
TP3/archivos
TP3/image_pipeline
TP3/opencv
TP3/opencv_contrib
TP3/__pycache__
TP3/input/
TP3/output/
TP3/numpyFiles/
TP4/gtsam/
TP4/input_INTEL_g2o.g2o
TP4/input_INTEL_g2o.g2o:Zone.Identifier
